.bg-app{
    background-color: #E7EAF0;
}
.bg-primary{
    background-color: #026aa7 !important;
    /*background-color: #409EFF !important;*/
}
.bg-success{
    background-color: #67C23A !important;
}
.bg-info{
    background-color: #909399 !important;
}
.bg-warning{
    background-color: #E6A23C !important;
}
.bg-danger{
    background-color: #F56C6C !important;
}

.text-white{
    color: #fff !important;
}
