.bg-app{
    background-color: #E7EAF0;
}
.bg-primary{
    background-color: #026aa7 !important;
    /*background-color: #409EFF !important;*/
}
.bg-success{
    background-color: #67C23A !important;
}
.bg-info{
    background-color: #909399 !important;
}
.bg-warning{
    background-color: #E6A23C !important;
}
.bg-danger{
    background-color: #F56C6C !important;
}

.bg-dark {
    background-color: #ccc !important;
}

.bg-light {
    background-color: #e8f3fe !important;
}

.gray {
    background-color: #eee !important;
}

.text-white{
    color: #fff !important;
}

.text-primary{
    color: #026aa7 !important;
    /*color: #409EFF !important;*/
}
.text-success{
    color: #67C23A !important;
}
.text-info{
    color: #909399 !important;
}
.text-warning{
    color: #E6A23C !important;
}
.text-danger{
    color: #F56C6C !important;
}
