/* ductv */
@mixin textAlign() {
  @each $direction in ("center", "left", "right") {
    .text-#{$direction} {
      text-align: #{$direction} !important;
    }
  }
}

@include textAlign;

@mixin sizePercent() {
  @each $size in ("width", "height") {
    @for $value from 0 through 100 {
      .#{$size}-#{$value} {
        #{$size}: percentage($value/100) !important;
      }
    }
  }
}

@include sizePercent;

@mixin flexSize {
  @for $i from 1 through 100 {
    .flex-#{$i} {
      flex: $i;
      box-sizing: border-box;
    }
  }
}

@include flexSize;

/* margin, padding */
$max-size: 10000;
$types: ('margin', 'padding');
$positions: ('top', 'right', 'bottom', 'left');

@mixin marginPadding {
  @each $type in $types {
    @each $pos in $positions {
      @for $value from 0 through $max-size {
        .#{$type}-#{$pos}-#{$value} {
          #{$type}-#{$pos}: #{$value}px !important;
        }
      }
    }
  }
  @each $type in $types {
    @for $value from 0 through $max-size {
      .#{$type}-#{$value} {
        #{$type}: #{$value}px !important;
      }
    }
  }
}

@include marginPadding;

/*=========*/
